@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    src: url(../fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf) ;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: url(../fonts/Roboto/Roboto-Regular.ttf) ;
}
