.home {

  .first-block {
    .title {
      margin-top: 2rem;
    }

    .search-wrapper {
      font-size: 12px;
    }

    .subtitle {
      @include media-breakpoint-down(sm) {
        font-size: 9px;
      }
    }

    @include media-breakpoint-up(lg) {
      .subtitle {
        font-size: 16px;
      }

      .search-wrapper {
        font-size: 16px;
      }
    }
  }

  .connect-your-team {
    @include media-breakpoint-down(xs) {
      flex-direction: column-reverse;
      margin-bottom: 2rem;
    }

    .title {
      margin-top: 2rem;
    }

    .subtitle {
      margin: 1rem 0;

      @include media-breakpoint-up(md) {
        font-size: 14px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 18px;
      }
    }

    .col-image {
      display: flex;
      align-items: flex-end;
    }

    .block-text-right {
      padding-left: 2rem;
    }

    @include media-breakpoint-up(md) {
      .button {
        margin-bottom: 1rem;
      }
    }

    @include media-breakpoint-up(lg) {
      .button {
        margin-bottom: 3rem;
      }
    }
  }

  .advertise-for-free {
    .text-block.block-text-left {
      padding: 3rem 1.5rem 1rem;

      @include media-breakpoint-up(md) {
        padding-bottom: 4rem;
      }

      .title {
        margin-bottom: 2rem;
      }

      .content {
        > div {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          svg {
            margin-right: .5rem;
            width: 16px;
          }

          @media (min-width: 372px) {
            font-size: .85rem;
            margin-bottom: 1.5rem;

            svg {
              margin-right: .75rem;
              width: 18px;
            }
          }

          @include media-breakpoint-up(sm) {
            font-size: 1rem;
            margin-bottom: 2rem;

            svg {
              margin-right: 1rem;
              width: 24px;
            }
          }
        }
      }
    }

    .col-image {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  .text-block {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 12px;

    .search-wrapper {
      margin: 1.5rem 0 1rem 0;

      .dropdown .dropdown-toggle,
      .search-input,
      .submit-sm {
        border-color: #9aafc5;
      }
    }

    &.block-text-left {
      margin-left: auto;
      padding-left: 15px;
      width: 100%;

      @include media-breakpoint-down(sm) {
        padding: 1rem 1.25rem 0;
      }

      @include media-breakpoint-up(sm) {
        max-width: map-get($container-max-widths, sm);
        margin-right: auto;
        padding: 15px 0 0 15px;
      }

      @include media-breakpoint-up(md) {
        max-width: map-get($container-max-widths, md);
        margin-right: auto;
      }

      @include media-breakpoint-up(lg) {
        max-width: 465px;
        margin-right: 0;
      }

      @include media-breakpoint-up(xl) {
        max-width: 670px;
        margin-right: 0;
      }
    }

    &.block-text-right {
      max-width: 70%;
      padding-bottom: 3rem;

      @include media-breakpoint-down(lg) {
        padding: 1rem 1.25rem 2rem;
        max-width: 100%;
      }
    }

    &.why-us {
      display: block;
      background-color: $primary;
      padding: 3rem 2rem;
      color: $light-blue;

      @include media-breakpoint-up(md) {
        padding: 7rem 2rem;
      }

      .title {
        color: $white;
        font-family: $font-family-alternative-bold;
      }

      .why-us-items {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
      }

      .icon-card {
        align-items: center;
        margin-bottom: 1.5rem;

        svg.icon-card-icon {
          height: auto;
          margin-right: 1rem;
        }

        .title {
          font-size: 1.1rem;
        }

        p {
          font-size: .75rem;
          margin: 0;
        }
      }

      .view-partners {
        text-align: center;

        .button {
          background-color: $white;
          padding-left: .5rem;
          padding-right: .5rem;
          margin-top: 0;
          color: $link-color;

          span {
            margin-right: 1rem;
          }

          @include media-breakpoint-up(sm) {
            padding-left: 1.5rem;
            padding-right: .75rem;
          }

          @include media-breakpoint-up(md) {
            padding-left: 2rem;
            padding-right: 1rem;

            span {
              margin-right: 1.5rem;
            }
          }
        }
      }

      @include media-breakpoint-up(md) {
        .icon-card {
          .icon-card-icon {
            margin-right: 2rem;
          }

          .title {
            font-size: 18px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      @include media-breakpoint-up(xl) {
        > .title {
          margin-bottom: 4rem;
        }

        .icon-card {
          .icon-card-icon {
            margin-right: 2rem;
          }

          .title {
            font-size: 24px;
          }

          p {
            font-size: 22px;
          }
        }
      }
    }

    .title {
      font-family: $font-family-alternative-bold;
      font-weight: 700;
      font-size: 35px;
      letter-spacing: 0;
      line-height: 1.4;
      color: #070f18de;

      p {
        margin-bottom: 0;
      }

      @include media-breakpoint-up(md) {
        font-size: 48px;
      }
      @include media-breakpoint-up(xl) {
        font-size: 66px;
      }
    }

    .subtitle {
      color: $text-muted;

      a {
        color: $link-color;
        font-weight: bold;
        margin-left: .5rem;
      }

      //@include media-breakpoint-down(sm) {
      //  font-size: 9px;
      //}
    }

    .content {
      font-size: 12px;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 1.5rem;
      }
    }

    .button {
      margin-top: 1rem;
      padding: .75rem 3rem;
      font-size: .75rem;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }

      @include media-breakpoint-up(md) {
        padding: 1rem 3rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
      }
    }
  }
}
