@import 'src/assets/scss/local-styles-includes';

.el-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.provider-card {
  flex-grow: 1;

  .caution-icon {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
  }

  .profile-type {
    position: absolute;
    top: 1rem;
    right: 4rem;
  }
}
