.onboarding {
  background: url('/images/onboarding_background.png') fixed no-repeat center;
  background-size: cover;
  min-height: 600px;
  justify-content: center;
  padding: 50px 0;

  .steps-header {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  .list-group-item {
    background-color: transparent;
    border: none;
    align-items: center;
    padding: 0;
    padding-left: 2.2rem;
    margin-bottom: 1.5rem;
    color: $text-muted;
    &::before {
      content: url('/images/steps_current_step_icon.svg');
      position: absolute;
      left: 0;
      top: 2px;
    }
    &.router-link-active {
      color: $primary;
      &::before {
        content: url('/images/steps_current_step_icon.svg');
      }
    }
    &.done {
      color: $text-color;
      &::before {
        content: url('/images/steps_done_icon.svg');
      }
    }
  }
  .card-header {
    background-color: $dark-blue;
    color: $white;
    padding: 1.5rem 3rem;
    border: 0;
    .card-header-title {
      font-size: 1.3rem;
      color: $dirty-white;
      margin-bottom: 0.75rem;
    }

    .card-header-subtitle {
      color: $light-blue;
    }
  }
}
