@import 'src/assets/scss/_variables';
footer {
  background-color: #10243b;
  color: $white;

  .wrapper {
    padding: 3.75rem 0;
  }

  h4 {
    font-size: 22px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    margin-top: 1.3rem;
  }

  a {
    text-decoration: underline;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
    }
    &.router-link-active {
      text-decoration: none;
    }
  }



}