@import 'node_modules/bootstrap/scss/bootstrap';
@import "src/assets/scss/variables";

$settings-left-circle-border-color: #718096;

.customer-settings {
  background: url('/images/onboarding_background.png') fixed no-repeat center;
  background-size: cover;
  min-height: 600px;
  justify-content: center;

  > .container {
    padding: 4rem 0;
  }

  .card-header {
    background-color: $dark-blue;
    color: $white;
    padding: 1.5rem 3rem;
    border: 0;

    .card-header-title {
      font-size: 1.3rem;
      color: $dirty-white;
      margin-bottom: 0;
    }

    .card-header-subtitle {
      color: $light-blue;
    }
  }
}
