.modal-open {
  .navbar-wrapper {
    padding-right: 15px; // scrolling compensation
  }
}

.navbar-holder {
  height: 48px;

  @include media-breakpoint-up(md) {
    height: 76px;
  }
}

.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  transition: box-shadow 0.3s ease-in-out;

  @include media-breakpoint-up(lg) {
    background: $white;
  }

  &-floating {
    box-shadow: 0 3px 6px #71809633;
  }
}

$navbar-y-padding: 0.5rem;

.navbar {
  display: none;

  @include media-breakpoint-down(md) {
    &.mobile {
      display: block;
      padding: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    &.desktop {
      display: flex;
      padding: 0;

      .navbar-collapse {
        height: 76px;

        .navbar-nav {
          height: 100%;

          .navbar-item-account {
            height: 100%;
          }

          .nav-item {
            height: 100%;
            margin: 0 1.25rem;

            .nav-link {
              display: flex;
              position: relative;
              align-items: center;
              height: 100%;
              padding: 0 .25rem;

              &.router-link-active {
                color: $color-active-link;

                &:before {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  right: 0;
                  background: $color-active-highlight;
                  height: 5px;
                  border-radius: .25rem .25rem 0 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .top-wrapper {
    display: flex;
    padding: $navbar-y-padding 0;
    background-color: $white;

    .container {
      position: relative;
    }
  }

  .collapse-wrapper {
    background-color: rgba($white, .95);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.navbar-light {
  .navbar-toggler {
    position: absolute;
    top: 0;
    height: 100%;

    &.collapsed {
      left: 15px;

      .navbar-toggler-icon {
        background-image: url("/images/menu_mobile.svg");
        background-size: 25px;
        background-position: left;
      }
    }

    &.not-collapsed {
      right: 15px;

      .navbar-toggler-icon {
        background-image: url("/images/menu_close_mobile.svg");
        background-size: 14px;
        background-position: center;
      }
    }
  }

  .navbar-collapse {
    .navbar-nav {
      min-height: 100vh;

      @include media-breakpoint-up(lg) {
        min-height: auto;
      }

      .with-space {
        margin-top: 4rem;
      }
    }
  }
}

.navbar-brand {
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;

  @include media-breakpoint-up(xs) {
    margin: 0 auto;
  }

  img {
    @include media-breakpoint-up(xs) {
      width: 107px;
    }
    @include media-breakpoint-up(md) {
      width: 247px;
    }
  }
}

.navbar-nav {
  @include media-breakpoint-down(md) {
    display: block;
  }

  .navbar-item-account {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    text-align: center;

    .nav-link {
      font-size: 18px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 2;
    }

    &.btn {
      margin-left: 1.5rem;

      .nav-link {
        color: $body-color;
      }
    }

    &.text-primary .nav-link {
      color: $primary;
    }

    @include media-breakpoint-down(md) {
      .nav-link {
        font-weight: 600;
        font-size: 24px;
        font-family: $font-family-alternative-bold;
      }
    }

    &.account-phone {
      &.profile-link .nav-link {
        display: flex;
        align-items: center;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        margin: 2rem 0 1rem;

        .b-avatar {
          margin-right: .75rem;
        }

        .username {
          letter-spacing: 0;
          color: $titles-color;
          text-transform: uppercase;
        }
      }

      &.menu-link .nav-link {
        .icon-card {
          display: flex;
          align-items: center;
          min-width: $dropdown-menu-min-width;
        }

        .icon-card-icon {
          margin-right: 1rem;
        }
      }
    }

    .account {
      width: 392px;
      border: none;
      box-shadow: 0 5px 10px $box-shadow-color;
      top: 100%;
      padding: 0;

      &.dropdown-menu {
        &:after { // triangle
          content: '';
          position: absolute;
          top: 0;
          right: 1.75rem;
          margin-left: -10px;
          margin-top: -10px;
          width: 0;
          height: 0;
          z-index: 1;
          border-bottom: solid 10px #FFF; /* Creates the arrow pointing up, to change to a notch instead user border-top */
          border-left: solid 10px transparent;
          border-right: solid 10px transparent;
        }
      }

      .dropdown-item:active {
        background: $color-gray-lighter;
        color: $text-dark;
      }

      .profile-link {
        display: flex;
        align-items: center;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        padding: 2.5rem 1rem 1rem;

        .b-avatar {
          margin-right: 1rem;
        }

        .username {
          letter-spacing: 0;
          color: $titles-color;
          text-transform: uppercase;
        }
      }

      li > hr {
        border-width: 2px;
        margin: 0 1rem;
      }

      .menu-link {
        padding: 1rem 1rem;

        .icon-card {
          align-items: center;
        }

        .icon-card-icon {
          margin-right: 1rem;
        }
      }

      .logout-button {
        display: block;
        text-align: center;
        width: 100%;
        background: $color-gray-lighter;
        color: $modal-footer-close-text-color;
        margin: 0;
        border-radius: 0 0 .3rem .3rem;
        padding: 1rem 0;
      }
    }
  }
}
